<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.pouyasoft.btclearnmine">

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Ui.Activity.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Activity.ViewArticleActivity"
            android:parentActivityName=".Ui.Activity.DrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ui.Activity.DrawerActivity" />

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc0e688b98371dd0104779a22d098588de38f9f3" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>